<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->

    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">




	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <style>

        html,body {
        height: 100%;

        }
        #main {
        display:flex;
        	min-height: 100%;
        }

        #sidebar {
        flex: 4;
        background-image: linear-gradient(rgb(255, 183, 0), rgb(255, 233, 145));
        padding: 15px;
        text-align: center;
        min-height: 100%;

        }

        .leaderboard-content {
            border: 1px solid #DCDCDC;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        #main-leaderboard {
        flex:8;
        padding: 15px;
        }

        #sidebar {

        }

        input {
    width: 80%;
    font-size: 14px;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #DCDCDC;
}

        button {
            padding: 10px;
            font-size: 14px;
            background-color: white;
            border-radius: 50px;
    border: 1px solid #DCDCDC;
    margin: 9px;
        }

        table {
        font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 22px;
            border-collapse: collapse;
            white-space: nowrap;
        }


        tr {
            height: 45px;
        }



                thead {
        background-color: white;
            border-color: white;
            height: 45px;
        }
    </style>

    <title>Team Gold - {{ leaderboard_name }}</title>
</head>
<body>
{% include "navbar.html" %}
<div id="main">
<div id="sidebar">
     <center><div id="logo"><img src="{{ url_for('static', filename='images/team-gold-logo-brunton.png') }}" style="width: 130px; margin: 0 auto;"/></div></center>
            <div id="submit-add-player" style="border: 1px solid grey; margin-bottom: 15px; padding: 10px; radius: 8px;">
                <h3>Add Player</h3>
                <input type="text" placeholder="Player Name" id="player_name" />
                <button class="btn" onclick="submit_player();">Add Player</button>
            </div>

            <div id="submit-match-control" style="border: 1px solid grey; margin-bottom: 15px; padding: 10px;">
                <h3>Add Match</h3>
                <input type="text" placeholder="Winner Name" id="winner_name" />
                <input style="margin-top: 0.5em;" type="text" placeholder="Loser Name" id="loser_name"/>
                <button class="btn" onclick="submit_score()">Submit Match</button>
            </div>

    <div id="create-leaderboard-control" style="border: 1px solid grey; margin-bottom: 15px; padding: 10px;" class="col-sm-12">
        <h3>Add Leaderboard</h3>
                    <input type="text" placeholder="Leaderboard Name" id="leaderboard_name"/><br/>
                    <button class="btn-primary" onclick="create_leaderboard()">Create Leaderboard</button>
                </div>
        </div>


        <div id="main-leaderboard" class="" style="text-align: center">
            <center>
            <div class="leaderboard-content" style="width: 90%">
                    <div style="display: flex; align-content: center"  class="">
                       <div style="flex: 1; font-size: 25px; cursor: pointer; vertical-align: middle; padding: 50px" onclick="change_leaderboard(-1)">&larr;</div> <p style="flex:1; font-family: 'Monoton', cursive; font-size: 38px; color: goldenrod" id="leaderboard_title">{{ leaderboard_name }}</p><div style="flex: 1; padding: 50px; font-size: 25px; cursor: pointer;" onclick="change_leaderboard(1)">&rarr;</div>
                    </div>
                <div class="">

                    <table class="table" id="leaderboard" style="width:100%">
                        <thead>
                            <tr class="hrow">
                                <th>Rank</th>
                                <th>Player</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                            <tr class="row">
                                <td>{{ player[0] }}</td>
                                <td>{{ player[1] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </center>
        </div>
    </div>
</body>
</html>


<script type="application/javascript">

    $(document).ready(function () {
        $('#leaderboard').DataTable({
            paging: false,
            searching: false
        });
    });

    function create_leaderboard() {
        var leaderboard_name = document.getElementById('leaderboard_name').value;
        if (leaderboard_name.length > 0) {

            console.log(leaderboard_name)
            $.ajax({
                type: 'POST',
                url: '/create-leaderboard',
                data: {leaderboard_name: leaderboard_name},
                success(data) {
                    set_active_leaderboard_to_new(data);
                },
                error() {
                    console.log("error")
                }
            })
        } else {
            alert("Enter a name you twink")
        }
    }

    function submit_score() {
        var winner_name = document.getElementById('winner_name').value;
        var loser_name = document.getElementById('loser_name').value;

        if (winner_name.length > 0 && loser_name.length > 0) {
            $.ajax({
                type: 'POST',
                url: '/submit-match',
                data: {winner_name: winner_name, loser_name: loser_name},
                success(data) {
                    var players = JSON.parse(data);
                    redraw_table(players);
                }
            });
        } else {
            alert("Enter names you bell")
        }
    }

    function set_active_leaderboard_to_new(leaderboard_name) {
        document.getElementById('leaderboard_title').innerText = leaderboard_name;
        $("#leaderboard tbody").remove();
    }

    function change_leaderboard(move) {
        $.ajax({
            type: 'POST',
            url: '/change-ladder',
            data: {move: move},
            success(data) {
                console.log(data);
                var newData = JSON.parse(data);
                // console.log(newData)
                var players = newData[0];
                var leaderboard_name = newData[1];
                redraw_table(players);
                document.getElementById('leaderboard_title').innerText = leaderboard_name;
            }
        });
    }

    function submit_player() {
        var player_name = document.getElementById('player_name').value;

        if (player_name.length > 0) {
            $.ajax({
                type: 'POST',
                url: '/add-player',
                data: {player_name: player_name},
                success(data) {
                    add_player_table(data);
                }
            });
        } else {
            alert("Enter names you bell")
        }
    }

    function redraw_table(players) {
        var leaderboard = $("#leaderboard");
        $("#leaderboard tbody").remove();
        var tbody = $("<tbody></tbody>");
        leaderboard.append(tbody);
        for (var i = 0; i < players.length; i++) {
            console.log(i);
            var tr = $("<tr></tr>");
            leaderboard.append(tr);

            var td = $("<td>" + (i + 1) + "</td>");
            tr.append(td);

            td = $("<td>" + players[i] + "</td>");
            tr.append(td);

            tbody.append(tr)
        }
    }


    function add_player_table(player) {
        var leaderboard = $("#leaderboard tbody");
        var table = $('#leaderboard').DataTable();
        var index = (table.data().count() / 2) + 1;

        leaderboard.append("<tr>");
        leaderboard.append("<td>" + index + "</td>");

        var td = $("<td>" + player + "</td>");

        leaderboard.append(td);
        $('#leaderboard').append("</tr>");
    }

</script>