
 <style>

    html, body {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
    }
    #nav {
        display: flex;
        background-color: rgba(0,0,0,0.5);
        color: white;
        border-bottom: 4px solid rgba(227, 82, 5,0.5)
    }

    #logo {
        flex:1;
        padding: 10px;
    }

    #links {
        flex: 6;
        text-align: center;
        align-content: center;
    }

    #links ul {
        display:flex;
    list-style:none;
    padding-left: 0;
    padding-right: 2px;
    }

    ul li{
    display: inline;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    }
 </style>

 <div id="nav">
 <div id="logo"><img src="{{ url_for('static', filename='images/team-gold-logo-brunton.png') }}" style="width: 70px;"/></div>
    <div id="links">
        <ul>
            <li>Leaderboard</li>
            <li>Home</li>
            <li>Home</li>
        </ul>
    </div>
 </div>